div > .vimiumHintMarker {
    border: solid #ff2400 1px !important;
    border-radius: 3px 3px 3px 3px;
    background: black !important;
    background-size: 800% 800%;
    box-shadow: #ff2400 0px 0px 5px 2px !important;
    -webkit-animation: rainbow 5s ease infinite;
    -z-animation: rainbow 5s ease infinite;
    -o-animation: rainbow 5s ease infinite;
    animation: rainbow 5s ease infinite;
}
div > .vimiumHintMarker span {
    color: white !important;
    font-weight: bold !important;
    font-size: 12px !important;
}
div > .vimiumHintMarker > .matchingCharacter {
    color : gray;
}
@-webkit-keyframes rainbow {
    0%{filter :hue-rotate(0deg);}   
    14%{filter :hue-rotate(45deg);} 
    28%{filter :hue-rotate(90deg);}
    32%{filter :hue-rotate(135deg);}
    43%{filter :hue-rotate(180deg);}
    71%{filter :hue-rotate(225deg);}
    85.2%{filter :hue-rotate(270deg);}
    100%{filter :hue-rotate(315deg);}     
}
@-moz-keyframes rainbow {
    0%{filter :hue-rotate(0deg);}   
    14%{filter :hue-rotate(45deg);} 
    28%{filter :hue-rotate(90deg);}
    32%{filter :hue-rotate(135deg);}
    43%{filter :hue-rotate(180deg);}
    71%{filter :hue-rotate(225deg);}
    85.2%{filter :hue-rotate(270deg);}
    100%{filter :hue-rotate(315deg);}
}
@-o-keyframes rainbow {
    0%{filter :hue-rotate(0deg);}   
    14%{filter :hue-rotate(45deg);} 
    28%{filter :hue-rotate(90deg);}
    32%{filter :hue-rotate(135deg);}
    43%{filter :hue-rotate(180deg);}
    71%{filter :hue-rotate(225deg);}
    85.2%{filter :hue-rotate(270deg);}
    100%{filter :hue-rotate(315deg);}
}
@keyframes rainbow { 
    0%{filter :hue-rotate(0deg);}   
    14%{filter :hue-rotate(45deg);} 
    28%{filter :hue-rotate(90deg);}
    32%{filter :hue-rotate(135deg);}
    43%{filter :hue-rotate(180deg);}
    71%{filter :hue-rotate(225deg);}
    85.2%{filter :hue-rotate(270deg);}
    100%{filter :hue-rotate(315deg);}
}
